*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
.banner{
    width: 100%;
    display: flex;
    height: 120px;
    justify-content: center;
    align-items: center;
}
.div-1{
    width: 50%;
    margin-left: 90px;
}
.div-2{
    width: 50%;
}

.fi-sr-shopping-cart{
    font-size: 30px;
    color: red;
}
.charity{
    font-size: 30px;
    font-weight: bolder;
}
a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}
a:hover{
    color: red;
    text-decoration: underline;
}
a:active{
    color: red;
}
.un-li{
    list-style: none;
    text-decoration: none;
    display: flex;
}
.li1,.li2,.li3,.li4,.li5,.li6{
    padding-right: 25px;
}
.navbar{
    margin-left: 200px;
}
.main{
    height: 630px;
    background-image: url(images/A.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}
.donate{
    padding-top: 200px;
    padding-left: 200px;
    font-weight: bolder;
    font-size: 40px;
    color: black;
}
.span-1{
    font-size: 80px;
    margin-left: -12px;
}
.para{
    padding-top: 30px;
    padding-left: 200px;
    font-size: 20px;
    font-weight: bolder;
    line-height: 30px;
    color: black;
}
.div-5{
    padding-top: 60px;
    padding-left: 200px;
}
.button-1{
    margin-right: 20px;
    border-width: 0px;
    border-radius: 18px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 25px;
    padding-right: 25px;
    color: white;
    background-color: orange;
    font-size: 15px;
    font-weight: bolder;
}
.button-2{
    border: 2px solid orange;
    border-radius: 18px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 25px;
    padding-right: 25px;
    color: black;
    background-color: transparent;
    font-size: 15px;
    font-weight: bolder;
}